.popup__name-input {
  margin-bottom: 29.74px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px 0px 13px;
  border: none;
  width: 358px;
  height: 14px;
  border-bottom: 1px solid #000000;
}

@media screen and (min-width: 320px) and (max-width: 510px) {
  .popup__name-input {
    width: 238px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    margin: 0 22px 30px;
    outline: none;
  }
}
